<table class="table table-stripted shops">
  <thead>
    <tr>
      <th class="products">Products</th>
      <th class="price">Price</th>
      <%= render :partial => 'shop_titles' %>
    </tr>
  </thead>
  <tbody>
    <% packs.each do |pack| %>
      <tr>
        <td>
          <%= visible_products(pack.products, visible_item) do |p| %>
            <% content_tag :p, p %>
          <% end %>
          <% hidden_products = hidden_products(pack.products, visible_item) do |p| %>
            <% content_tag :p, p %>
          <% end %>
          <% if hidden_products.present? %>
            <div>
              <%= link_to 'Show others', '#', class: 'others_toggler' %>
              <%= link_to 'Hide', '#', class: 'others_toggler', style: "display: none;" %>
              <div style="display: none;">
                <%= hidden_products %>
              </div>
            </div>
          <% end %>
        </td>
        <td>
          <%= price(pack.price) %>
        </td>
        <%= render :partial => 'shop_values', :locals => { :shop => pack } %>
      </tr>
    <% end %>
  </tbody>
</table>
