<table class="table table-stripted products">
  <thead>
    <tr>
      <% if has_enchant?(products) %>
        <th class="enchant">Enchant</th>
      <% end %>
      <th class="count">Count</th>
      <th class="price">Price</th>
      <%= render :partial => 'shop_titles' %>
    </tr>
  </thead>
  <tbody>
    <% products.each do |p| %>
      <tr>
        <% if has_enchant?(products) %>
          <td>+<%= p.enchant %></td>
        <% end %>
        <td>
          <abbr title="<%= number_with_delimiter p.count, delimiter: ' ' %>">
            <%= number_to_human p.count, units: :common %>
          </abbr>
        </td>
        <td>
          <%= price(p.price) %>
        </td>
        <%= render :partial => 'shop_values', :locals => { :shop => p.shop } %>
      </tr>
    <% end %>
  </tbody>
</table>
