<table class="table table-stripted products">
  <thead>
    <tr>
      <th class="item">Item</th>
      <th class="count">Count</th>
      <th class="price">Price</th>
      <th class="location">Location</th>
      <th class="player">Player</th>
      <th class="seenTime">Seen Time</th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |p| %>
      <tr>
        <td>
          <%= p.item.name -%>
          <% if p.item.sa.present? -%>
            [<%= p.item.sa -%>]
          <% end -%>
          <% if p.enchant > 0 -%>
              +<%= p.enchant -%>
          <% end -%>
        </td>
        <td>
          <abbr title="<%= number_with_delimiter p.count, delimiter: ' ' -%>">
            <%= number_to_human p.count, units: :common -%>
          </abbr>
        </td>
        <td>
          <abbr title="<%= number_with_delimiter p.price, delimiter: ' ' %>">
            <%= number_to_human p.price, units: :common -%>
          </abbr>
        </td>
        <td>
          <abbr title="<%= "#{p.shop.location.x} #{p.shop.location.y} #{p.shop.location.z}" %>">
            <%= p.shop.location.name -%>
          </abbr>
        </td>
        <td><%= p.shop.player -%></td>
        <td><%= timeago p.shop.seen_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
