<% title "Items" %>

<div class="server-selection">
  Server
  <%= select_tag 'server_param', options_for_select(Server.all.map {|s| [s.name, items_path(s)]}, items_path(current_server)), class: 'span2' %>
</div>

<%= form_tag items_path(current_server), method: :get, class: 'form-search' do %>
  <p>
    <%= text_field_tag :query, params[:query], class: 'input-medium search-query' %>
    <%= submit_tag "Search", name: nil, class: 'btn' %>
  </p>
<% end %>

<% if @items %>
  <% if @items.count > 0 -%>
    <%= will_paginate @items, inner_window: 1, outer_window: 0 %>
    <% for item in @items %>
      <%= link_to item_path(current_server, item), class: 'searchItem' do %>
        <div class="itemIcon"><%= image_tag item.path_to_icon rescue nil %></div>
        <div class="itemName">
          <%= item.name %>
          <% if item.sa.present? %>
            [<%= item.sa %>]
          <% end %>
          <% show_unless_zero item.products_from_server(current_server.id).count do |count| %>
            <strong>(<%= pluralize(count, "record") %>)</strong>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else -%>
    <p>No results found.</p>
  <% end -%>
<% else -%>
  <% if @products.count > 0 %>
    <div class="offers">
      <h2>New Products At Market</h2>
      <%= render partial: 'products', locals: {products: @products} %>
    </div>
  <% end -%>
<% end %>
