<% title "Items" %>

<%= form_tag items_path, method: :get, class: 'form-search' do %>
  <p>
    <%= text_field_tag :query, params[:query], class: 'input-medium search-query' %>
    <%= submit_tag "Search", name: nil, class: 'btn' %>
  </p>
<% end %>

<% if @items %>
  <%= will_paginate @items %>
  <% for item in @items %>
    <p>
    <%= link_to item do %>
      <%= item.name %>
      <% if item.sa.present? %>
        [<%= item.sa %>]
      <% end %>
    <% end %>
    </p>
  <% end %>
<% end %>
