<% title "Items" %>

<div class="server-selection">
  Server
  <%= select_tag 'server_param', server_options, class: 'span2' %>
</div>

<%= form_tag items_path(current_server), method: :get, class: 'form-search' do %>
  <p>
    <%= text_field_tag :query, params[:query], class: 'input-medium search-query' %>
    <%= submit_tag "Search", name: nil, class: 'btn' %>
  </p>
<% end %>

<% if @items %>
  <% if @items.count > 0 %>
    <%= will_paginate @items, inner_window: 1, outer_window: 0 %>
    <% for item in @items %>
      <%= link_to item_path(current_server, item), class: 'searchItem' do %>
        <div class="itemIcon"><%= image_tag item.path_to_icon rescue nil %></div>
        <div class="itemName">
          <%= item.name %>
          <% if item.sa.present? %>
            [<%= item.sa %>]
          <% end %>
          <% show_unless_zero item.products.from_server(current_server).count do |count| %>
            <strong>(<%= pluralize(count, "record") %>)</strong>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No results found.</p>
  <% end %>
<% else %>
  <% if @recent_shops.count > 0 %>
    <h2 class="offers">Recent Shops</h2>
    <%= render :partial => 'shops', :locals => { :shops => @recent_shops } %>
  <% end %>
<% end %>
